/* 
body{
    margin: auto;
    font-family: 'Trebuchet MS';
} */

.wrap{
    width: 1400px;
    margin: auto;
    font-family: 'Trebuchet MS';
}

.header{
    width: 1400px;
    height: 104px;
    background: #008BAA;
    color: #fff;
    display: flex;
}

.telephone{
    margin-top: 34px;
}

.logo-suntour{
    width: 179px;
    height: 44px;
    margin-left: 180px;
    margin-top: 30px;
}
.logo{
    width: 149px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-top: 40px;
    padding-left: 22px;
}

.menu_left{
    width: 36px;
    height: 36px;
    margin-top: 36px;
    margin-left: 143px;
    margin-right: 16px;
    transition: 300ms;
}

.menu_right{
    width: 36px;
    height: 36px;
    margin-top: 36px;
    transition: 300ms;
}

.header a{
    text-decoration: none;
    color: #fff;
    width: 196px;
    height: 35px;
    padding-left: 133px;
    margin-top: 34px;
    font-size: 30px;
}
.header span{
    width: 135px;
    height: 19px;
    margin-top: 42px;
    padding-left: 8px;
}


.hero-image{
    margin-top: 24px;
    margin-left: 180px;
}

.circle-block{
    position: absolute;
    background: rgba(255, 242, 0, 0.7);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-top: 270px;
    margin-left: 32px;
}

h3{
    width: 169px;
    height: 88px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    margin-top: 45px;
    margin-left: 41px;
}

.text-cod{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.cod{
    margin-left: 76px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-color: #000;
    color: #fff;
}

.container{
    display: flex;
}

h2{
    width: 293px;
    height: 46px;
    font-weight: 700;
    font-size: 35px;
    margin-top: 23px;
    margin-left: 180px;
    border-bottom: 1px solid #000000;
}


.price_hotel{
    margin-top: 23px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
}

.hotel{
    display: flex;

}


.rating{
    font-size: 25px;
    display: flex;

    margin-left: 20px;
    margin-top: 30px;
}

input{
    display: none;
}

label{
    position: relative;
    color: #FF9900;
}

.day{
    width: 144px;
    height: 151px;
    margin-left: 238px;
}

.number-day{
    font-weight: 700;
    font-size: 88px;
    color: #777777;
}

.text-day{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 30px;
}

.circs{
    display: flex;
    margin-left: 180px;
    font-family: "Arial";
}

.reviews{
    width: 93px;
    height: 33px;
    font-size: 14px;
    padding-right: 16px;
}
.reviews p{
    font-weight: 400;
}


.restangle{
    width: 52px;
    height: 52px;
    background: #008BAA;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 12px;
}

.restangle span{
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-left: 7px;
    color: #fff;
}


aside{
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.image-1{
    margin-right: 40px;
}

section{
    display: flex;
}

.holiday h2{
    margin-left: 180px;
}
.holiday p{
    margin-left: 180px;
}

.sale h2{
    margin-left: 245px;
    color: #CB0000;
}

.sale p{
    margin-left: 246px;
}

footer{
    width: 1041px;
    height: 196px;
    border: 1px solid #E0E0E0;
    margin-left: 179px;
    display: flex;
}
.sales{
    width: 121px;
    height: 68px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #008BAA;
    margin-left: 25px;
}

footer span{
    padding-top: 35px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #008BAA;
}

footer p{
    padding-top: 56px;
    width: 600px;
    height: 29px;
    margin-left: 31px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
}

button{
    width: 224px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 13px 82px;
    gap: 8px;
    border-radius: 24px;
    border: none;
    background: #00AAAA;


    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: #FFFFFF;
    margin-top: 50px;
}


button:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}